# Protocole de la connection
# 
# Valeurs possibles: ['AM','WMO']
typeProcotole			=	'AM'

# Port d'arrivée des données
localPort                       =       25060

# Path vers le fichier de log
log				=	'/home/theriaultlp/ncsAmReceiver.log'

# ---------------------------------------------------
# Configuration du format et destination des fichiers
# ---------------------------------------------------

# Path vers les répertoires de destination ou les
# bulletins seront écrits
pathDestination			=	'/home/theriaultlp/data/data_dest'

# Path temporaire
#
# Doit absolument être sur le même file system
# que pathDestination.
pathTemp			=	'/home/theriaultlp'

# Extension donnee aux fichiers
# -CCCC est remplace par l'origine
# -TT   est remplace par le type
# -CIRCUIT est ramplace par la liste des circuits
# Doit commencer par ':' et ':' decoupe les champs
extension               	= 	":PPP1:-CCCC:-TT:-CIRCUIT:ncsAmReceiver"

# -----------------------------------------
# Configuration du traitement des bulletins
# -----------------------------------------

# Ajout du champ "AAXX jjhh4\n" aux bulletins SM/SI.
SMHeaderFormat          =       True

# Path vers le fichier de collection correctement formatte
# Doit etre mis a None si on veut garder les bulletins
# intouches.
# Nb: Mettre a None pour desactiver cette fonction
ficCollection           =       "/home/theriaultlp/pds-nccs/etc.sample/stnlist"

# Remplace le -CIRCUIT dans l'extension par la liste de circuits
# séparés par un point.
# (fait des hard links si plus d'un circuit)
# Nb: Mettre a None pour desactiver cette fonction
ficCircuits             =       "/home/theriaultlp/pds-nccs/etc.sample/header2circuit.db"

