# Protocole de la connection
# 
# Valeurs possibles: ['AM','WMO']
typeProcotole			=	'AM'

# Port d'arrivée des données
localPort                       =       25061

# ---------------------------------------------------
# Configuration du format et destination des fichiers
# ---------------------------------------------------

# Path vers les répertoires de destination ou les
# bulletins seront écrits
pathDestination			=	'/'

# Path temporaire
#
# Doit absolument être sur le même file system
# que pathDestination.
pathTemp			=	'/'

# Extension donnee aux fichiers
# -CCCC est remplace par l'origine
# -TT   est remplace par le type
# -CIRCUIT est ramplace par la liste des circuits
# Doit commencer par ':' et ':' decoupe les champs
extension               	= 	":PPP1:-CCCC:-TT:-CIRCUIT:ncpAmReceiver"

# -----------------------------------------
# Configuration du traitement des bulletins
# -----------------------------------------

# Ajout du champ "AAXX jjhh4\n" aux bulletins SM/SI.
SMHeaderFormat          =       True

# Path vers le fichier de collection correctement formatte
# Doit etre mis a None si on veut garder les bulletins
# intouches.
# Nb: Mettre a None pour desactiver cette fonction
ficCollection           =       "../etc/stnlist"

# Remplace le -CIRCUIT dans l'extension par la liste de circuits
# séparés par un point.
# (fait des hard links si plus d'un circuit)
# Nb: Mettre a None pour desactiver cette fonction
ficCircuits             =       "../etc/header2circuit.db"

# Séparateur de lignes pour les bulletins (autre que
# les GRIB et BUFR pour la zone non-alphanumérique)
lineSeparator		=	'\n'
