# Repertoire d'entree ou sont les fichiers de circuits
inputDir	=	'/home/theriaultlp/circuits/circuit2entete'

# Fichier unique de sortie ou toutes les entrees seront fusionnes
destFile	=	'/home/theriaultlp/pds-nccs/etc/header2circuit.db'

# Cree un fichier du nom du fichier de sortie avec '.ignoredLines' qui ecrit les lignes ignorees dans les
# fichiers de circuits
showIgnoredLines	=	True

# Affiche les erreurs a l'ecran
outputErrs		= 	True
