# Repertoire d'entree ou sont les fichiers de circuits
inputDir	=	'/home/theriaultlp/circuits/circuit2entete'

# Chemin vers le fichier d'entêtes à priorités
pathPriorites	=	'/home/theriaultlp/circuits/entete2priorites/header2priority'

# Fichier unique de sortie ou toutes les entrees seront fusionnes
destFile	=	'/home/theriaultlp/header2circuit.db'

# Cree un fichier du nom du fichier de sortie avec '.ignoredLines' qui ecrit les lignes ignorees dans les
# fichiers de circuits
showIgnoredLines	=	False

# Affiche les erreurs a l'ecran
outputErrs		= 	False
