# -*- coding: UTF-8 -*-

# Path vers le fichier de log
log                     =       '/home/theriaultlp/ncsCollection.log'

# -----------------------------------------------
# Configuration des paramètres pour la collection
# -----------------------------------------------

# Map des  paramètres pour la gestion de temps des collections.
#
# collectionParams[entete][h_collection] 	= Liste d'heures où la collection devra s'effectuer
# collectionParams[entete][m_primaire]		= Nombre de minutes après l'heure où la période
#						  de collection primaire se terminera
# collectionParams[entete][m_suppl]		= Si la période de collection primaire est terminée,
#						  une nouvelle période commence, et elle sera de cette
#						  durée (une collection pour les retards...)
# entete:	2 premières lettres de l'entête
# Nb: Sera rechargé lors de l'éventualité d'un SIGHUP
collectionParams	=	{ 'SA':	{'h_collection':[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23], \
					 'm_primaire':7, 'm_suppl':5},\
				  'SM': {'h_collection':[0,6,12,18], \
                                         'm_primaire':7, 'm_suppl':5},\
				  'SI': {'h_collection':[3,9,15,21], \
                                         'm_primaire':7, 'm_suppl':5}\
				}

# Délai maximum avant de ne plus "compter" les séquences.
# 
# Les bulletins sont flaggués comme erreur si ce délais
# est dépassé.
#
# Unités: Heures
delaiMaxSeq		=	23

# Option pour inclure une ligne par station dans la
# collection, meme si aucun data.
#
# Si à True: Pour chaque station sans data,
#            "<station> NIL="
includeAllStn		=	True

# ---------------------------------------------------
# Configuration du format et destination des fichiers
# ---------------------------------------------------

# Path vers les répertoires de destination ou les
# bulletins seront écrits
# -PRIORITY est remplacé par la priorité du bulletin
pathDestination         =       '/home/theriaultlp/data/data_dest'

# Path vers le répertoire source, où les bulletins seront lus 
pathSource	        =       '/tmp/data_collection'

# Path temporaire
#
# Doit absolument être sur le même file system
# que pathDestination.
pathTemp                =       '/home/theriaultlp'

# Extension donnee aux fichiers
# -CCCC est remplace par l'origine
# -TT   est remplace par le type
# -CIRCUIT est ramplace par la liste des circuits
# Doit commencer par ':' et ':' decoupe les champs
extension               =       ":PPP1:-CCCC:-TT:-CIRCUIT:ncsCollection"

# Remplace le -CIRCUIT dans l'extension par la liste de circuits
# séparés par un point.
# Nb: Mettre a None pour desactiver cette fonction
# Nb: Sera rechargé lors de l'éventualité d'un SIGHUP
ficCircuits             =       "/home/theriaultlp/pds-nccs/etc.sample/header2circuit.db"

# Path vers le fichier de collection correctement formatte
# Doit etre mis a None si on veut garder les bulletins
# intouches.
# Nb: Mettre a None pour desactiver cette fonction
# Nb: Sera rechargé lors de l'éventualité d'un SIGHUP
ficCollection           =       "/home/theriaultlp/pds-nccs/etc.sample/stnlist"

