# -*- coding: UTF-8 -*-

# Path vers le fichier de log
log				=	'/pds-nccs/log/ncsRenamer.log'

# ---------------------------------------------------
# Configuration du format et destination des fichiers
# ---------------------------------------------------
#pathTemp                = '/home/ib/dads/dan/projects/pds-nccs/tmp'
pathTemp                = '/sw/tmp'
#pathSource              = '/home/ib/dads/dan/projects/pds-nccs/data'
pathSource              = '/sw/data_orig'
maxCompteur             = '99999'
lineSeparator           = "\n"

# Path vers les répertoires de destination ou les
# bulletins seront écrits
# -PRIORITY est remplacé par la priorité du bulletin
# pathDestination			=	'/home/ib/dads/dan/projects/pds-nccs/dataOut/-PRIORITY'
#pathDestination			=	'/home/ib/dads/dan/projects/pds-nccs/dataOut'
pathDestination			=	'/sw/dataOut'

# Extension donnee aux fichiers
# -CCCC est remplace par l'origine
# -TT   est remplace par le type
# -CIRCUIT est ramplace par la liste des circuits
# Doit commencer par ':' et ':' decoupe les champs
extension               	= 	":JEAN:-CCCC:-TT:-CIRCUIT"

# -----------------------------------------
# Configuration du traitement des bulletins
# -----------------------------------------
# Remplace le -CIRCUIT dans l'extension par la liste de circuits
# séparés par un point.
# Nb: Mettre a None pour desactiver cette fonction
# Nb: Sera rechargé lors de l'éventualité d'un SIGHUP
ficCircuits             =       "/pds-nccs/etc.sample/header2circuit.db"
