# Protocole de la connection
# 
# Valeurs possibles: ['AM','WMO','AMIS']
typeProcotole			=	'AMIS'

# Port d'arrivée des données
localPort                       =       2001

# Path vers le fichier de log
#log				=	'/home/ib/dads/pim/tmp/senderAMIS.log'
log				=	'/home/ib/dads/pim/pds-nccs/log/senderAMIS.log'

# ---------------------------------------------------
# Configuration du format et destination des fichiers
# ---------------------------------------------------

# Répertoires contenant les bulletins a envoyer
# -PRIORITY est remplacé par la priorité du bulletin
pathDestination			=	'/home/ib/dads/pim/tmp'

# Path temporaire
#
# Doit absolument être sur le même file system
# que pathDestination.
pathTemp			=	'/home/ib/dads/pim/tmp'

#remote host
remoteHost			=	('142.135.16.180',2001)

#timeout
timeout				=	'600'

# Extension donnee aux fichiers
# -CCCC est remplace par l'origine
# -TT   est remplace par le type
# -CIRCUIT est ramplace par la liste des circuits
# Doit commencer par ':' et ':' decoupe les champs
#extension               	= 	":PPP1:-CCCC:-TT:-CIRCUIT:ncsAmReceiver"

# -----------------------------------------
# Configuration du traitement des bulletins
# -----------------------------------------

# Ajout du champ "AAXX jjhh4\n" aux bulletins SM/SI.
#SMHeaderFormat          =       True

# Path vers le fichier de collection correctement formatte
# Doit etre mis a None si on veut garder les bulletins
# intouches.
# Nb: Mettre a None pour desactiver cette fonction
#ficCollection           =       "/home/ib/dads/theriaultlp/pds-nccs/etc.sample/stnlist"

# Remplace le -CIRCUIT dans l'extension par la liste de circuits
# séparés par un point.
# (fait des hard links si plus d'un circuit)
# Nb: Mettre a None pour desactiver cette fonction
#ficCircuits             =       "/home/ib/dads/theriaultlp/pds-nccs/etc.sample/header2circuit.db"
