# -*- coding: UTF-8 -*-
# Protocole de la connection
#
# Valeurs possibles: ['AM','WMO','AMIS']
typeProcotole                   =       'WMO'

# Path vers le fichier de log
#log                             =	'/home/ib/dads/dan/progProj/pds-nccs/log/senderWMO.log'
log                             =	'/home/ib/dads/pim/pds-nccs/log/senderWMO.log'

# ---------------------------------------------------
# Configuration du format et destination des fichiers
# ---------------------------------------------------

# Path temporaire
#
# Doit absolument être sur le même file system
# que pathDestination.
# Inutile dans le cas d'un sender, mais tout de meme requis...
#pathTemp                        =       '/home/ib/dads/dan/tmp'
pathTemp                        =       '/home/ib/dads/pim/tmp'

# Machine destination devant recevoir les bulletins
#remoteHost                      =       ('142.135.4.20',6666)
remoteHost                      =       ('142.135.4.235',4012)
#remoteHost                      =       ('142.135.4.235',6666)

# Timeout
# Au dela de cette valeur, la tentative de connexion est 
# abandonnee et une erreur est generee
timeout                         =       10

# Repertoire sous lequel on ramasse les fichiers 
#rootPath = '/home/ib/dads/dan/progProj/pds-nccs/bulletins'
rootPath = '/home/ib/dads/pim/developpement/bulletins/wmo'

# Nombre de fichiers a ecrire
fileNumber = 4

