# -*- coding: UTF-8 -*-
# Protocole de la connection
#
# Valeurs possibles: ['AM','WMO']
typeProcotole                   =       'WMO'

# ingest into what sort of file switcher, defaults to px, override to use pds with 'yes'
use_pds				=	1

# Port d'arrivée des données
localPort                       =       4012

# Path vers le fichier de log
log                             =       '/home/theriaultlp/wmoReceiver.log'

# ---------------------------------------------------
# Configuration du format et destination des fichiers
# ---------------------------------------------------

# Path vers les répertoires de destination ou les
# bulletins seront écrits
# -PRIORITY est remplacé par la priorité du bulletin
pathDestination                 =       '/home/theriaultlp/data/data_dest'

# Path temporaire
#
# Doit absolument être sur le même file system
# que pathDestination.
pathTemp                        =       '/home/theriaultlp'

# Extension donnee aux fichiers
# -CCCC est remplace par l'origine
# -TT   est remplace par le type
# -CIRCUIT est ramplace par la liste des circuits
# Doit commencer par ':' et ':' decoupe les champs
extension                       =       ":PPP1:-CCCC:-TT:-CIRCUIT:ncsWmoReceiver"

# -----------------------------------------
# Configuration du traitement des bulletins
# -----------------------------------------

# Remplace le -CIRCUIT dans l'extension par la liste de circuits
# séparés par un point.
# (fait des hard links si plus d'un circuit)
# Nb: Sera rechargé lors de l'éventualité d'un SIGHUP
ficCircuits             	=       "/home/theriaultlp/pds-nccs/etc.sample/header2circuit.db"

# Gestion pour la validité des fichiers concernant les délais.
#
# Map d'entêtes pointant sur des tuples, avec comme champ [0] le nombre de minutes
# avant, et champ [1] le nombre de minutes après, pour que le bulletin soit valide.
#
# Nb: Mettre à None pour désactiver la fonction de validité des fichiers
#     concernant les délais.
#
# Ex: mapEnteteDelai = { 'CA':(5,20),'WO':(20,40)}
mapEnteteDelai          =       None

