.affix {
	top: 50px;
  /*bottom: 200px;*/
	width: 212.500px;
}

.affix-bottom {
  position: absolute;
  width: 212.500px;
}

#sidebar.nav .nav {
  display: none;
  font-size: 12px;
}

#sidebar.nav > .active > ul {
  display: block;
}

.sub-nav > li {
    -webkit-padding-start: 20px;
    margin-top: 2px;
}

.nav-underline > li {
  float: none;
}
/*.nav-underline > li > a {
  border-radius: 4px;
}*/
.nav-underline > li + li {
  margin-left: 2px;
}

.nav-underline > li > a:hover,
.nav-underline > li > a:focus {
  text-decoration: underline;
  background-color: #fff;
}

.nav-underline > li.active > a,
.nav-underline > li.active > a:hover,
.nav-underline > li.active > a:focus {
  /*color: #fff;
  background-color: #337ab7;*/
  text-decoration: underline;
  font-weight: bold;
}

.nav-underline > .active > a > .badge {
  color: #337ab7;
  background-color: #fff;
}

.nav-underline > li > a > .badge {
  margin-left: 3px;
}

.jumbotron {
  text-align: center;
  /*background-color: transparent;*/
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* CSS below from Boostrap Examples */

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 200px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 150px;
  background-color: #f5f5f5;
  /*border-color: #e7e7e7*/

  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #e7e7e7;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/*body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
}

code {
  font-size: 80%;
}*/
